
@media screen and (min-width: 1200px) {
  .account {
    width: 100%;
    height: 100rem;
  }

  .form {
    margin-left: 44rem;
  }

  .form__column {
    width: 100%;
  }

  .account__section {
    width: 100%;
    height: 104%;
  }

  .acc__accordion {
    width: 102%;
  }

  .acc__panel {
    width: 100%;
    padding-top: 2px;
  }

  .btn--view {
    padding: 1rem 1rem;
    margin-left: 43.2rem;
  }

  .register__text {
    margin-bottom: 2rem;
  }

  .btn--create {
    margin-top: 20px;
    padding: 2rem 2rem;
    margin-left: -2rem;
  }
}
